################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/TP2NASA/.vs
/TP2NASA/bin/Debug/net6.0
/TP2NASA/obj
/TP2NASA/TP2NASA.csproj.user
